@import "assets/fonts/Courier-Prime.css";

html {
  background-color: #060606;
  scrollbar-color: #111 #222;
}

body {
  color: #aaa;
  display: flex;
  flex-direction: column;
  font-family: "Courier Prime", monospace;
  font-size: 18px;
  font-size-adjust: from-font;
  font-variant-ligatures: no-common-ligatures;
  margin: auto;
  min-width: min(600px, 100vw);
  max-width: max-content;
  text-align: left;
  text-wrap: balance;
}

nav {
  font-size: 0.9em;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

nav > span {
  margin: auto 3ch;
}

article {
  flex: 1 0 auto;
  padding: 2ch;
  max-width: 80ch;
}

header {
  font-weight: bold;
  margin-bottom: 1em;
}

header::before {
  content: '# ';
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  margin-bottom: 0.5em;
  margin-top: 1.5em;
}

h1::before { content: "# "; }
h2::before { content: "## " }
h3::before { content: "### " }
h4::before { content: "#### " }
h5::before { content: "##### " }

a {
  color: inherit;
  text-decoration: underline dotted 1px #666;
  text-underline-offset: 3px;
}

a:hover {
  text-decoration: underline dashed;
}

a:visited {
  color: inherit;
}

blockquote {
  margin-left: 0;

  --line-height: 1em;
  line-height: var(--line-height);
  position: relative;
  padding-left: 2ch;
}

blockquote::before {
  --mask: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='4 -16 16 24'><text font-family='sans' font-weight='bold'>&gt;</text></svg>");
  content: ""; background-color: currentColor;
  position: absolute; inset: 0; z-index: -1;
  mask: var(--mask) repeat-y left top / 1em var(--line-height);
}

img {
  max-width: 100%;
}

p {
  margin: 0;
}

p + p, ul + ul, ol + ol {
  margin-top: 1em;
}

li {
  margin: 0.2em 0;
}

ul {
  padding-left: 3ch;
}

ul > li::marker {
  content: '* ';
}

aside {
  border-left: 2px dashed #222;
  color: #bbbb;
  margin: 1em 0;
  padding-left: 1em;
}

table {
  border-collapse: collapse;
  margin: 1em auto;
}

tr, td, th {
  border: 1px solid #ddd;
  padding: 0.5em;
}

code {
  font-family: inherit;
  text-wrap: nowrap;
}

:not(pre) > code {
  background: #111a;
}

:not(pre) > code::before,
:not(pre) > code::after {
  content: '`';
}

pre {
  font-family: inherit;
  overflow: auto;
  padding: 0.5ch;
  border-left: 3.5ch solid #1114;
}

#markdown-toc::before {
  content: "Table of Contents";
  font-weight: bold;
  display: block;
  margin-left: -3ch;
  margin-top: 1em;
}

.datetime {
  float: right;
  font-size: 0.8em;
  margin-top: 1em;
}

.highlight {
  margin: 0;
}


.hanchor {
  font-size: 0.8em;
  opacity: 0.5;
}


.yt-container {
  padding-bottom: 56.25%;
  position: relative;
}

.yt-video {
  height: 100%;
  position: absolute;
  width: 100%;
}
