body {
  background-color: #151518;
  color: #ccc;
  display: flex;
  flex-direction: column;
  font-family: Times, serif;
  font-size: 20px;
  margin: auto;
  max-width: 910px;
  min-height: 98vh;
  text-align: justify;
}

body > header {
  align-items: baseline;
  border-bottom: 1px solid #404040;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 1em;
  width: 95%;
}

body > header h1 {
  margin: 0.2em;
}

body > header nav > * {
  margin: 0 0.4em;
}

main {
  flex: 1 0 auto;
  padding: 10px;
}

main > header > h1 {
  font-size: 2em;
  margin-top: 0;
}

main > header > time {
  font-size: 0.8em;
  margin-left: auto;
}

footer {
  text-align: center;
  border-top: 1px solid #404040;
  padding: 1em;
}


h1 { font-size: 2rem;    }
h2 { font-size: 1.75rem; }
h3 { font-size: 1.5rem;  }
h4 { font-size: 1.35rem; }
h5 { font-size: 1.15rem; }

h1, h2, h3, h4, h5 {
  margin-bottom: 0;
  margin-top: 1.5em;
}

a {
  color: #ccc;
  text-decoration: underline dotted 1px #666;
  text-underline-offset: 3px;
}

a:visited {
  color: #ccc;
}

blockquote {
  opacity: 0.9;
  border-left: 4px solid #404040;
  padding-left: 0.5em;
}

img {
  max-width: 100%;
}

aside {
  background: #171717;
  border: 1px solid #5555;
  font-size: 0.9em;
  margin: 1em auto;
  padding: 0.5em;
}

aside > :first-child {
  margin-top: 0;
}

aside > :last-child {
  margin-bottom: 0;
}

code {
  font-size: 0.8em;
  background: #212121;
}

p > code {
  padding: 2px;
  border: 1px solid #404040;
}

pre {
  overflow: auto;
  padding: 10px;
}


.post-list {
  font-size: 1.3em;
  text-align: left;
}

.yt-container {
  padding-bottom: 56.25%;
  position: relative;
}

.yt-video {
  height: 100%;
  position: absolute;
  width: 100%;
}
