html {
  background-color: #111;
  scrollbar-color: #111 #222;
}

body {
  background-color: #000;
  color: #aaa;
  display: flex;
  flex-direction: column;
  font-family: courier, monospace;
  font-size: 18px;
  font-variant-ligatures: no-common-ligatures;
  margin: auto;
  max-width: max-content;
  min-height: 98vh;
  text-align: left;
}

nav {
  font-size: 0.9em;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

article {
  flex: 1 0 auto;
  padding: 2ch;
  max-width: 80ch;
}

header {
  font-weight: bold;
  margin-bottom: 1em;
}

header::before {
  content: '# ';
}

time {
  float: right;
  font-size: 0.8em;
  margin-top: 1em;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  margin-bottom: 0.5em;
  margin-top: 1.5em;
}

h1::before { content: "# "; }
h2::before { content: "## " }
h3::before { content: "### " }
h4::before { content: "#### " }
h5::before { content: "##### " }

a {
  color: inherit;
  text-decoration: underline dotted 1px #666;
  text-underline-offset: 3px;
}

a:visited {
  color: inherit;
}

blockquote {
  margin-left: 2ch;
  padding-left: 1ch;
  padding-right: 1ch;
  position: relative;
  border-left: 1px dotted;
}

blockquote::before {
  content: '>';
  font-weight: bold;
  margin-left: -3ch;
  position: absolute;
}

img {
  max-width: 100%;
}

p {
  margin: 0;
}

p + p {
  margin-top: 1em;
}

ul, ol {
  margin: 0;
  line-height: 1.3em;
}

ul {
  padding-left: 2ch;
}

ul > li::marker {
  content: '* ';
}

p + ul {
  padding-left: 3ch;
}

aside {
  border-left: 2px dashed #222;
  color: #bbbb;
  margin: 1em 0;
  margin-left: auto;
  max-width: 75%;
  padding-left: 1em;
  text-wrap: balance;
}

table {
  border-collapse: collapse;
  margin: 1em auto;
}

tr, td, th {
  border: 1px solid #ddd;
  padding: 0.5em;
}

code {
  font-family: courier, monospace;
}

:not(pre) > code {
  color: wheat;
}

:not(pre) > code::before,
:not(pre) > code::after {
  content: '`';
}

pre {
  overflow: auto;
  padding: 10px;
  margin-left: 4ch;
}


#markdown-toc::before {
  content: "Table of Contents";
  font-weight: bold;
  display: block;
  margin-left: -2ch;
}

.post-list {
  line-height: 1.5em;
  list-style: none;
  margin: 20px auto;
  padding: 5ch;
}

.highlight {
  margin: 0;
}


.hanchor {
  font-size: 0.8em;
  opacity: 0.5;
}


.yt-container {
  padding-bottom: 56.25%;
  position: relative;
}

.yt-video {
  height: 100%;
  position: absolute;
  width: 100%;
}
