@font-face {
    font-family: 'Courier Prime';
    src: url('Courier Prime/Courier Prime.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Courier Prime';
    src: url('Courier Prime/Courier Prime Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Courier Prime';
    src: url('Courier Prime/Courier Prime Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Courier Prime';
    src: url('Courier Prime/Courier Prime Bold Italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
