<link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/favicon/apple-touch-icon.png" | relative_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/favicon/favicon-32x32.png" | relative_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/favicon/favicon-16x16.png" | relative_url }}">
<link rel="manifest" href="{{ "/assets/favicon/site.webmanifest" | relative_url }}">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

{% if page.image %}
  <meta prefix="og: http://ogp.me/ns#" property="og:image"      content="{{ page.image | relative_url }}">
  <meta prefix="og: http://ogp.me/ns#" property="twitter:image" content="{{ page.image | relative_url }}">
{% else %}
  <meta prefix="og: http://ogp.me/ns#" property="og:image"      content="{{ "assets/avatar.png" | relative_url }}">
  <meta prefix="og: http://ogp.me/ns#" property="twitter:image" content="{{ "assets/avatar.png" | relative_url }}">
{% endif %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
<script type="text/javascript" src="{{ "/assets/scripts/toggleTheme.js" | relative_url }}"></script>
<script>
  window.onload = () => {
    document.querySelector("header .trigger").insertAdjacentElement('afterbegin', s);

    document.querySelector("html").dataset.theme = x;
    if (document.querySelector("html").dataset.theme == "light") {
      document.querySelector("#toggleTheme input").checked = true;
    }

    document.querySelector("footer").insertAdjacentHTML("afterend", '<a href="{{ site.baseurl }}/sitemap.xml"></a>');
  }
</script>
