a {
  & {
    text-decoration: underline dotted 1px #666;
    text-underline-offset: 3px;
  }

  &:hover {
    text-decoration: underline solid 2px;
  }
}

aside {
  & {
    background: #171717;
    border: 1px solid #5555;
    font-size: 0.9em;
    margin: 1em auto;
    padding: 0.5em 1em;
  }

  > p:last-child {
    margin-bottom: 0;
  }
}

blockquote {
  & {
    font-size: 1em;
    font-style: normal;
  }

  em {
    font-style: italic;
  }
}

.site-header {
  border-top: none;
}

.site-footer {
  padding: 10px 0;
  text-align: center;
}

.post-content {
  > h1 {
    font-size: 2rem;
  }

  > h2 {
    font-size: 1.75rem;
  }

  > h3 {
    font-size: 1.5rem;
  }

  > h4 {
    font-size: 1.35rem;
  }

  > h5 {
    font-size: 1.15rem;
  }

  > h1, > h2, > h3, > h4, > h5 {
      a {
        opacity: 0.4;
      }
  }
}

.yt-container {
  & {
    padding-bottom: 56.25%;
    position: relative;
  }

  .yt-video {
    height: 100%;
    position: absolute;
    width: 100%;
  }
}
