@import url(https://joren.ga/css/switch.css);

body {
  font-family: monospace;
}

p {
  text-align: justify;
  text-justify: inner-word;
}

.site-header {
  border-top: none;
}

#toggleTheme {
  position: initial;
  margin-right: 1em;
}

.yt-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.yt-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: $on-medium) {
  #toggleTheme {
    position: absolute;
    right: 50px;
  }
}

/* Poor man's light theme */
html[data-theme="light"] {
  body {
    background-color: #FFF;
    filter: invert(100%);
  }

  img, svg, iframe {
    filter: invert(100%) !important; /* revert images to normal colors */
  }

  #disqus_thread {
    padding: 1em;
    background-color: #999;
  }
}
