$base-font-family: Palatino, Times, serif;
$base-font-size:   20px;

$content-width: 910px;

$background-color:   #151518;
$text-color:         #ccc;
$link-base-color:    $text-color;
$link-visited-color: $link-base-color;
