html {
  font-size: 110%;
}

body {
  font-size: 1rem;
}

aside {
  background: #171717;
  border: 1px solid #5555;
  font-size: 0.9em;
  margin: 1em auto;
  padding: 0.5em 1em;
}

a {
  & {
    text-decoration: underline dotted 1px #666;
    text-underline-offset: 3px;
  }

  &:hover {
    text-decoration: underline solid 2px;
  }
}

.site-header {
  border-top: none;
}

.post-content {
  > h1 {
    font-size: 2rem;
  }

  > h2 {
    font-size: 1.75rem;
  }

  > h3 {
    font-size: 1.5rem;
  }

  > h4 {
    font-size: 1.35rem;
  }

  > h5 {
    font-size: 1.15rem;
  }

  .headingAnchor {
    font-size: 0.5em;
    margin-left: 1em;
    text-decoration: none;
    line-height: 1;
  }
}

#share-buttons {
  & {
    display: inline-block;
    margin-bottom: 1em;
    vertical-align: middle;
  }

  > a {
    color: #B9B9B9;
    text-decoration: none;
  }

  > a:hover {
    color: #999;
  }
}

.yt-container {
  & {
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
    width: 100%;
  }

  .yt-video {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
