<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <base target="_parent" />
  <title>{{ page.title | default: site.title }}</title>
  <meta name="author" content="{{ site.author }}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{{ '../' | relative_url }}avatar.svg">
  <link rel="stylesheet" href="{{ "/style.css" | relative_url }}">
  <link type="application/atom+xml" rel="alternate" href="{{ "/feed.xml" | relative_url }}" title="Jorengarenar's blog">
</head>
<body>
  <nav>
    <a href="{{ site.baseurl }}">Index</a>
    <span>Copyright &copy; <a href="{{ '../' | relative_url }}">{{ site.author | escape }}</a></span>
    <a href="{{ '/feed.xml' | relative_url }}">RSS</a>
  </nav>
  {{ content }}
  <a href="{{ site.baseurl }}/sitemap.xml"></a>
</body>
</html>
